<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Notre 1ère application</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>
  <div id="app">
    <div class="text-center p-4">
      <!--title est une variable JS on peut faire title[0]-->
      <!--v-once est une directive qui permet de dire que l'interpolation ne se fait qu'une fois et qui bloque la première interpolation-->
      <!--v-bind:src signifie à vue js que l'attribut src vaut une interpolation de valeur "logoSource" ! Super utilisé donc raccourci :
      on met juste : !!-->
      <img :src="logoSource" alt="Vue.js logo" class="m-4" width="200" />
      <!--en passant objet :  <img v-bind="{src: logoSource, title}" alt="Vue.js logo" class="m-4" width="200" /> -->
      <h1 v-html="title"></h1>

      <!-- on peut mettre template si juste v-if je crois  -->
      <template v-if="isTaskInProgress">
        <h4>Nom de la tâche : {{ taskname }}</h4>
        <h4>Tâche en cours : {{ (isTaskInProgress) ? 'Oui' : 'Non' }}</h4>
        <h4>Durée en cours : {{ currentDuration }}</h4>
      </template>
      
    </div>
    
    <!-- On va utiliser un modifier .prevent, on peut ajouter du code dedans ex: v-on:submit.prevent="title += '1'" -->
    <form class="p-4" @submit.prevent="toggleTask">
    <!-- <form v-on="{ submit: submitForm, click: submitForm}" class="p-4"> -->
      <!-- v-model est une directive qui permet de lier un champ(tout ce qui renvoie une valeur en html) à une variable donc si on modifie 
      la variable ça modifie le champ et si on modifie le champ ça modifie la variable c'est complètement lié-->
      <input v-model="taskname" type="text" class="form-control" />

      <input v-model="numberCSS" type="number" class="form-control" />

      <!-- Savoir si on met une classe ou non : On fait un v-bind avec un objet, nom de la propriété = nom des classes et valeur = condition d'affichage ou non  -->
      <!-- :class="{ 'btn-danger': isTaskInProgress, 'btn-primary': !isTaskInProgress  }" -->
      <!-- Ou alors on fait :class="['btn', 'mt-2', isTaskinProgress ? 'btn-danger' : 'btn-primary']" -->
      <!-- Ou alors on fait un miox des 2  :class="['btn', 'mt-2', {'btn-danger': isTaskInProgress, 'btn-primary': !isTaskInProgress}]" -->
      <!-- Ou on utilise computed !! -->
      <button @click="toggleTask" type="button" :style="[{ 'margin-top': numberCSS + 'px' }, { 'autreStyle': 'autreValeur'}]" class="btn" :class="btnClasses" >
        {{ isTaskInProgress ? 'Arrêter' : 'Démarrer' }}
      </button>

      <!-- Attention console innaccessible ici (pas de console.log) car c'est pas global-->
      <!-- v-on:click raccourci : @click -->
      <!-- <button @click="startTask" type="button" class="btn btn-primary mt-2">Démarrer</button>
      <button @click="stopTask" type="button" class="btn btn-danger mt-2 mx-2">Arrêter</button> -->

      
      <!-- v-show pour display none ou non -->
      <!-- v-if pour supprimer l'elt du DOM et possibilité de mettre en v-else ou v-else-if="..."-->
      <div v-show="errorMessage" class="alert alert-danger mt-2" role="alert">
        {{ errorMessage }}
      </div>
    </form>

    <div v-show="tasks.length > 0" class="p-4">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tâche</th>
            <th scope="col"></th>
            <th scope="col">Durée</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <!-- il faut v-bind Key pour dire la clé unique, pour améliorer la performance sur les v-for !! -->
          <!-- Attention pas de v-if et v-for ensemble sur un même élément  -->
          <tr v-for="task in tasks" :key="task.id">
            <th scope="row">{{ task.id }}</th>
            <td>{{ task.name }}</td>
            <td class="text-end">Début: {{ formatTimeStamp(task.time) }} - Fin: {{ formatTimeStamp(task.end) }}</td>
            <td>{{ durationBetweenTimeStamps(task.time, task.end) }}</td>
            <!-- Il faut faire un v-bind pour passer au composant une donnée qui n'est pas fixe avec de l'interpolation -->
            <td><task-actions v-bind:id="task.id" v-on:delete="deleteTask($event)" /></td>
          </tr>
        </tbody>
      </table>
    </div>
    
    
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="./app.js"></script>
</body>

</html>

<!-- Il ne faut jamais mettre de méthode dans le DOM parce que sinon dès qu'un paramètre change il appelle a nouveau toute la fonction et recalcul tout  -->